body {
  background-color: white;
}



#rcorners {
  border-radius: 10px;
  background:white;
  padding: 40px;
  width: 1150px;
  height: 480px;
  
  
h5{
	font-family: 'tahoma';
	font-weight: bold;
}

th {
 font-family: 'tahoma';
  font-weight: bold;
}

td {
 font-family: 'tahoma';
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color:grey;
}

p {
  border: 2px solid black;
  outline: grey solid 10px;
  margin: auto;  
  padding: 20px;
  text-align: center;
}


.btn {
  border: none;
  color: white;
  cursor: pointer;
}
.default {background-color:silver; color: black;} /* Gray */ 
.default:hover {background:silver;}